*{
	font-family: sans-serif;
	padding: 0px;
	margin: 0px;
}
a{
	text-decoration: none;
}

header{
	    background: rgba(255, 255, 255, 0.25);
	width: 100%;
	display: flex;
	align-items: center;
	height: 90px;
	
	padding: 2px 30px;
	position: sticky;
	top: 0px;
	left: 0px;
	z-index: 1;
	justify-content: center;
}
.mainicon{
	position: fixed;
	top: 10px;
	left: 10px;
}
.container-fluid{
	
}
header>ul{
	padding-right: 4em;
}
.nav{
	font-size: 20px;

}
.nav-bg{
	justify-self: center;
}
.intro{
	width: 50%;
	justify-content: center;
	align-items: center;
	border-radius: 1em;
	gap: 1.8em !important;
	scale:1.1;
	transform: translateX(1em);
	background: white;
}
.intro .text-muted{
	font-size: 12px;
}
.intro .intro-name{
	font-size: 30px !important;
	font-weight: 900;
	letter-spacing: 1px;
}
.banner{
	
}
.after-intro{
	width: 70%;
	border-radius: 1em;
	font-size: 16px;
	text-align: right;
	background: white;

}
.intro-img{

	width: clamp(80%, 300px, 250px);


}
 h2{
	font-size: 3em !important;
	font-weight: 700;
}
.btntab{
	background: white;
	font-weight: 600;
	padding: 0.7 0.8em;
	margin: 0.2em;
	font-size: 1.1em;

}
.btntab:hover{
	background: blue;
	color: white;
}
.projects .card{
	width: 90%;
	margin: auto;
	padding: 12px;
	margin-top: 20px;
}
.projects .card-title h3{
	font-weight: 700 !important;
	text-align: center;
}
.projects .card-text{
	font-size: 14px;
}
.projects .card-img-top{
	position: relative;
}
.projects .card-bgoverlay{
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0.7em;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2em;
	transition: all 1s linear;
	
}
.d-none{
	transition: 1s;
}
.icons{
	border-radius: 50%;
	padding: 0.6em;
	display: block;
	font-size: 2em;
	color: white;
	background: rgba(0, 0, 0, 0.6);
	transition: all 0.1s linear;

}
.icons:hover{
	font-size: 1.9em;
	margin: 0.1em;
	
}
.img-section{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	gap: 3em;

}
.img-section span img{
	height: 80px;
	width: 80px;

}
.img-section span{
	
	height: 120px;
	width: 120px;
	background: rgb(254, 244, 245);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}
.Hobbies{
	justify-content: center;
	gap: 3em;
}
.Hobbies .card{
	border: none;
	width: 300px;
	overflow: hidden;
}
.Hobbies .card img{
	border-radius: 10px;
}

.Hobbies .card .card-title h3{
	font-weight: 700;
	
}
.Hobbies .card  .card-text{
	line-height: 25px;
	font-size: 19px;
	text-align: justify;
}
.contact-card{
	margin: auto;
	
	width: 400px;
	padding: 20px 40px;
	align-items: center;
	border-radius: 8px;
	justify-content: start;
	flex-wrap: nowrap;
}
.contact-card a{
	text-decoration: none;
	color: black;
	font-size: 16px;
}
.contact-form span{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
.form-control{
	padding: 16px;
	background: #edf2f8;
}
.form-control:focus{
	background: #edf2f8;
	border: none;
	outline: none;
	
}
.contact-form .btn{
	width: auto;
	margin: 30px auto;
}

@media (max-width:768px){
	header{
		justify-content: end;
	}
	.nav-bg{

		width: 80%;
		height: 80vh;
		background: white;
		position: fixed;
		top: 1px;
		right: -1000px;
		padding: 80px 50px;
		transition: all 0.3s linear;


	}
	.nav{
		
		flex-wrap: nowrap;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 30px;
		align-items: start;


	}
	.cross{
		font-size: 50px;
		font-weight: 500;
		color: rgba(0, 0, 0, 0.5);
		cursor: pointer;
		position: absolute;
		top: 15px;
		right: 20px;
	}
}